<!DOCTYPE html>
{% extends "base.html" %}

{% block title %}Musik{% endblock %}
{% block pageTitle %}<h4>Musik</h4>{% endblock %}
{% block content %}
<div class="container">
	<div class="row">
		<div class="col">
			<h4>Audio</h4>
		</div>
	</div>
	<div class="row">
		<div class="col">
			<p>Lautstärke</p>
			<div class="d-flex justify-content-left my-4">
			  <div class="w-75">
			    <input type="range" class="custom-range" id="customRange11" min="0" max="100" value="3">
			  </div>
			  <span class="font-weight-bold text-dark ml-2 valueSpan2"></span>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col">
			<p>Audioausgang</p>
			<form>
    			<label class="radio-inline">
      				<input type="radio" name="optradio" checked>HDMI
    			</label>
    			<label class="radio-inline">
      				<input type="radio" name="optradio">Boxen
    			</label>
  			</form>
		</div>
	</div>
	<div class="line"></div>
	<div class="row">
		<div class="col">
			<h4>Radio</h4>
		</div>
	</div>
</div>
{% endblock %}

{% block extrajs %}
<script>
$(document).ready(function() {

  const $valueSpan = $('.valueSpan2');
  const $value = $('#customRange11');
  $valueSpan.html($value.val());
  $value.on('input change', () => {

    $valueSpan.html($value.val());
  });
});
</script>
{% endblock %}