<!DOCTYPE html>
{% extends "base.html" %}

{% block title %}Musik{% endblock %}
{% block pageTitle %}<h4>Musik</h4>{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            <h4>Audio</h4>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p>Lautstärke</p>
            <div class="d-flex justify-content-left my-4">
              <div class="w-75">
                {% if volume == 'Error' %}
                <input type="range" class="custom-range" id="volumeRange" min="0" max="100" value="{{ volume }}" disabled>
                <p>Fehler beim Laden der Lautstärke, stelle Audio-Ausgang auf 'auto' oder 'Boxen' und lade die Seite neu</p>
                {% else %}
                <input type="range" class="custom-range" id="volumeRange" min="0" max="100" value="{{ volume }}">
                {% endif %}
              </div>
              <span class="font-weight-bold text-dark ml-2 valueSpan2"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p>Audioausgang</p>
            <form id="audioOutputForm">
                {% for subfield in audio_output_form.audio_output %}
                  <div class="form-check form-check-inline">
                    {% if ((subfield.label.text == 'BT Anker') and (bt_cons[0] == False)) or ((subfield.label.text == 'BT Bose') and (bt_cons[1] == False)) %}
                    {{ subfield(class="form-check-input", disabled=true) }}
                    {% else %}
                    {{ subfield(class="form-check-input") }}
                    {% endif %}
                    {{ subfield.label(class="form-check-label") }}
                  </div>
                {% endfor %}
            </form>
        </div>
    </div>
    <div class="line"></div>
    <div class="row">
        <div class="col">
            <h4>Radio</h4>
        </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="form-group">
          <select id="radioSelectionForm" class="form-control">
            {% for option in radio_station_form.radio %}
              {{ option(action= url_list[loop.index0]) }}
            {% endfor %}
          </select>
        </div>
      </div>
    </div>
    <div class="row mt-1">
      <div class="col">
        <button class="btn btn-success mr-2" type="button" id="radioPlayBtn">Play</button>
        <button class="btn btn-danger" type="button" id="radioStopBtn">Stop</button>
      </div>
    </div>
</div>
{% endblock %}

{% block extrajs %}
<script>
$(document).ready(function() {

  const $valueSpan = $('.valueSpan2');
  const $value = $('#volumeRange');
  $valueSpan.html($value.val());
  $value.on('input change', () => {

    $valueSpan.html($value.val());
  });
  $value.change(function() {
      $.post("/music", {"volume": $(this).val(), "audio_output": $('input[name=audio_output]:checked', '#audioOutputForm').val()});
  })
  $('#audioOutputForm').change(function() {
    $.post("/music", {"audio_output": $('input[name=audio_output]:checked', '#audioOutputForm').val()});
  });
  $('#radioPlayBtn').click(function() {
    $.post("/music", {"radio_play": $('#radioSelectionForm option:selected').attr('action')});
  });
  $('#radioStopBtn').click(function() {
    $.post("/music", {"radio_stop": true});
  });
});
</script>
{% endblock %}