<!DOCTYPE html>
{% extends "base.html" %}

{% block title %}Musik{% endblock %}
{% block pageTitle %}<h4>Musik</h4>{% endblock %}
{% block content %}
<div class="container">
	<div class="row">
		<div class="col">
			<h4>Audio</h4>
		</div>
	</div>
	<div class="row">
		<div class="col-6 col-sm-3">
			<p>Lautstärke</p>
		</div>
		<div class="col-6 col-sm-3">
			<p>Audioausgang</p>
		</div>
	</div>
	<div class="line"></div>
	<div class="row">
		<div class="col">
			<h4>Radio</h4>
		</div>
	</div>
</div>
{% endblock %}