<!DOCTYPE html>
{% extends "base.html" %}

{% block title %}Raspberry Power{% endblock %}
{% block pageTitle %}<h4>Einstellungen</h4>{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            <h4>Raspberry Power</h4>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <button class="btn btn-secondary mr-1" type="button" data-toggle="collapse" data-target="#collapseReboot" aria-expanded="false" aria-controls="collapseReboot" id="collapseRebootBtn">
            Neustart
          </button>
          <button class="btn btn-danger" type="button" data-toggle="collapse" data-target="#collapsePowerOff" aria-expanded="false" aria-controls="collapsePowerOff" id="collapsePowerOffBtn">
            Ausschalten
          </button>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="collapse" id="collapseReboot">
                <div class="card mt-2">
                    <div class="card-body">
                        <p>Sicher? Der Raspberry startet neu und ist kurze Zeit nicht erreichbar.</p>
                        <button class="btn btn-danger  mr-1" id="rebootBtn">Ja</button>
                        <button class="btn btn-light" type="button" data-toggle="collapse" data-target="#collapseReboot" aria-expanded="false" aria-controls="collapseReboot">Doch nicht</button>
                    </div>
                </div>
            </div>
            <div class="collapse" id="collapsePowerOff">
                <div class="card mt-2">
                    <div class="card-body">
                    <p>Sicher? Der Raspberry schaltet sich aus und muss manuell neugestartet werden.</p>
                        <button type="button" class="btn btn-danger  mr-1" id="powerBtn">Ja</button>
                        <button type="button" class="btn btn-light" type="button" data-toggle="collapse" data-target="#collapsePowerOff" aria-expanded="false" aria-controls="collapsePowerOff">Doch nicht</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block extrajs %}
<script>
$(document).ready(function() {
    $('#collapseRebootBtn').click(function() {
        var isExpanded = $('#collapsePowerOffBtn').attr("aria-expanded");
        if (isExpanded == "true") {
            $('#collapsePowerOff').collapse('toggle');
        }
    });
    $('#collapsePowerOffBtn').click(function() {
        var isExpanded = $('#collapseRebootBtn').attr("aria-expanded");
        if (isExpanded == "true") {
            $('#collapseReboot').collapse('toggle');
        }
    });
    $('#rebootBtn').click(function() {
        var btnID = $(this).attr('id');
        $.post("/settings/power", {'btn_id':btnID});
    });
    $('#powerBtn').click(function() {
        var btnID = $(this).attr('id');
        $.post("/settings/power", {'btn_id':btnID});
    });
})
</script>
{% endblock %}