<!DOCTYPE html>
{% extends "base.html" %}

{% block title %}Steckdosenbelegung{% endblock %}
{% block pageTitle %}<h4>Einstellungen</h4>{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            <h4>Steckdosenbelegung</h4>
        </div>
    </div>
    {% for form in forms %}
    <form action="" method="post" class="settingsForm">
        {{ form.hidden_tag() }}
        <div class="form-group">
            <h6 class="socketData" id="{{ form.remote.data }}+{{ form.socket.data }}">
                {{ form.remote.data }} {{ form.socket.data }}
            </h6>
        </div>
        <div class="form-group">
            {{ form.name.label }}:
            {{ form.name(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.category.label }}:
            {{ form.category(class="form-control") }}
        </div>
        <div class="form-group">
            <div class="custom-control custom-switch">
                {{ form.timer_switch(class_="custom-control-input", id=form.remote.data+form.socket.data+"switch") }}
                <label class="custom-control-label" for="{{ form.remote.data }}{{ form.socket.data }}switch">{{ form.timer_switch.label }}</label>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-6 col-md-3 col-lg-2">
                {{ form.start.label }}
                {{ form.start(class="form-control") }}
            </div>
            <div class="form-group col-6 col-md-3 col-lg-2">
                    {{ form.end.label }}: 
                    {{ form.end(class="form-control") }}
            </div>
        </div>
        <div class="form-group">
            <div class="form-check form-check-inline">
                {{ form.monday(class="form-check-input") }}
                {{ form.monday.label(class="form-check-label") }}
            </div>
            <div class="form-check form-check-inline">
                {{ form.tuesday(class="form-check-input") }}
                {{ form.tuesday.label(class="form-check-label") }}
            </div>
            <div class="form-check form-check-inline">
                {{ form.wednesday(class="form-check-input") }}
                {{ form.wednesday.label(class="form-check-label") }}
            </div>
            <div class="form-check form-check-inline">
                {{ form.thursday(class="form-check-input") }}
                {{ form.thursday.label(class="form-check-label") }}
            </div>
            <div class="form-check form-check-inline">
                {{ form.friday(class="form-check-input") }}
                {{ form.friday.label(class="form-check-label") }}
            </div>
            <div class="form-check form-check-inline">
                {{ form.saturday(class="form-check-input") }}
                {{ form.saturday.label(class="form-check-label") }}
            </div>
            <div class="form-check form-check-inline">
                {{ form.sunday(class="form-check-input") }}
                {{ form.sunday.label(class="form-check-label") }}
        </div>
    </div>
    </form>
    {% endfor %}
    <div class="row">
        <div class="col">
            <button id="submitButton" class="btn btn-dark" type="button">Speichern</button>
        </div>
    </div>
</div>    
{% endblock %}

{% block extrajs %}
<script type="text/javascript">
    $(document).ready(function () {
        $("#submitButton").click(function(){
            var formData= '';
            $("form").each(function() {
                var idString= 'id='+$(this).find('.socketData').attr('id')+'&';
                formData+=idString;
                formData+=$(this).serialize();
                formData+='&formbreak&';
            })
            $.post("/settings/sockets", {"form_data": formData});
            window.location = "/";
        })
    })
</script>
{% endblock %}
